[submodule "TrinityCore"]
	path = cores/TrinityCore
	url = https://github.com/TinkerEmu/Server.git
	branch = main
[submodule "misc/adt-creator"]
	path = misc/adt-creator
	url = https://github.com/tswow/adt-creator.git